# We use a little hack so that the snippet is expanded and parsed correctly
snippet snip "Ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:b}
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

snippet # "Make Header Comment" b
##${1/./#/g}##
# ${1:Desc} #
##${1/./#/g}##
endsnippet

snippet gs "Global Snippet" b
global !p
def ${1:global_name}(${2}):
    return ${3:None}
endglobal
endsnippet
